@model Hotel  

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ViewData["Title"] = "Upload Hotel";
}

<div class="row">
    <div class="col-xl-12">
        <div class="main-content-title-profile mb-50">
            <div class="main-content-title">
                <h3>Add New Hotel</h3>
            </div>
        </div>
        <div class="dashboard-profile-wrapper two">
            <div class="dashboard-profile-tab-content">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-inner mb-30">
                                <label>Name</label>
                                <input type="text" name="name" placeholder="Hotel name here..." required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-30">
                            <div class="form-inner">
                                <label>Country</label>
                                <input type="text" name="country" placeholder="Country here..." required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inner mb-30">
                                <label>City</label>
                                <input type="text" name="city" placeholder="City here..." required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inner mb-30">
                                <label>Address</label>
                                <input type="text" name="address" placeholder="Address here..." required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inner mb-30">
                                <label>Map Link</label>
                                <input type="text" name="maplink" placeholder="Map link here...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inner mb-30">
                                <label>Description</label>
                                <textarea placeholder="Description here" name="description"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inner mb-30">
                                <label>Status</label>
                                <select name="status" class="form-control">
                                    <option value="Available">Available</option>
                                    <option value="Not Available">Not Available</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inner mb-30">
                                <label>Price</label>
                                <input type="number" name="price" placeholder="Price here...">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inner mb-30">
                                <label>Number Of Rooms (max)</label>
                                <input type="number" name="maxRoom" placeholder="Number of room here....">
                            </div>
                        </div>
                    </div>
                    @* <div class="upload-img-area">
                        <div class="upload-img-wrapper">
                            <div class="drag-area">
                                <button type="button" class="upload-btn"><i class="bi bi-plus-lg"></i></button>
                                <input type="file" name="image" hidden="">
                            </div>
                        </div>
                        <div class="upload-img-area-content">
                            <h6>Upload Your Image</h6>
                            <p>Image required size 300*300, JPGE or PNG format.</p>
                        </div>
                    </div> *@
                    <div class="form-inner">
                        <button type="submit" class="primary-btn3">Publish Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>